body {
    text-align: center;
    color: rgb(63, 11, 1);
    background: url("./grass-bg.jpg");
    background-size: cover;
}

#board {
    width: 540px;
    height: 540px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background: url("./soil.jpg");
    background-size: cover;
    border: 3px solid slategrey;
    border-radius: 25px;
}

#board div {
    width: 180px;
    height: 180px;
    background-image: url('./dirt-hole.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#board div img {
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}